<header class="page-header" role="banner">
  <h1 class="project-name">{% if include.showauthor %}{{ page.author }}: {% endif %}{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
   
  {% unless include.hidenav %}
    {% include navigation.html %}
  {% endunless %}

  {% if include.external %}
    <br>
    {% include external.html %}
  {% endif %}
</header>